html,
        body,
        .map {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .controls {
            position: absolute;
            top: 10px;
            left: 50px;
            z-index: 400;
            padding: 10px;
        }

        .fcc {
            display: none;
            position: absolute;
            left: 50px;
            bottom: 15px;
            z-index: 450;
            width: 150px;
            text-align: right;
            background-color: #00ff00;
        }

        .fc {
            height: 150px;
            width: 100%;
        }

        .pcc {
            width: 150px;
        }

        .pc {
            display: none;
            height: 150px;
            width: 100%;
        }